
*{
	margin:0px;
	padding: 0px;
}

ul.lateral li{ 
	margin: 1px;
	padding: 0px;
	list-style: none;
	width: 100px;
	border:1px 0px 1px 0px;
	border-color: #8BFBBB;
}
	

	 


.lateral-item{
	
	background:#222222;
	color: #8BFBBB;
}


.lateral-item:hover {
	border-left:10px #8BFBBB solid;
    -webkit-transition: border-left 0.5s; /* For Safari 3.1 to 6.0 */
    transition: border-left 0.5s;

  
}


#logo{
	width: 80px;
	height: 55px;
}

#menu-top{
	height: 55px;
}

#logo-posicao{
	margin: 0px;
	padding: 0px;
}

#painel
{
	margin-top: 55px;
	margin-bottom: 30px;
}


#azul{
	color:#8BFBF9;
}

.foto-painel{
	position:relative;
	margin:35px -20px;
	width:347px;
	height:300px;
	padding-left:50px;

}

.navbar-collapse.collapsing {
	background-color: #222222;
}

.navbar-collapse.collapse.in {
	background-color: #222222;
}

.foto-postagem{
	-webkit-filter: grayscale(100%);filter: grayscale(100%);
}

.painel-box{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 55px;
	height: 396px;
	width:100%;
}

.texto-postagem{
	position: relative;
	margin-top: -2px;
	text-align: justify-all;

}

.postagem{
	height: 420px;
	width: 370px;
	margin: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.foto-postagem:hover{
	-webkit-filter: grayscale(0%);filter: grayscale(0%);
	transition-duration:1.5s;
	/*opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
/******Links******/

/*******Animações*******/

.rodape{
	padding:20px 0;
	position: fixed;
	bottom: 0px;
	background-color: #222222;
	color: #BDBDBD;
	text-align: center;
	font-size: 80%;
	width: 100%;
	margin: 0px 0px;
	left: 0px;
	height: 40px;
}
